

.playerListContainer {
  //width: 600px;

  .ant-tabs-bar {
    margin-bottom: 10px;
  }

  .searchBar {
    display: flex;
    justify-content: center;
  }

  .playerListScroll {
    min-height: 50vh;
    max-height: 70vh;
    height: calc(100% - 10px);
    overflow-y: auto;
    overflow-x: hidden;

    div.ant-list-item {
      padding-top: 2px;
      padding-bottom: 2px;
    }

    .playerListScrollLoading {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }

  @media all and (max-width: 490px) {
    //width: 400;
  }

}