
.seasonCardContainer {
  width: 700px;

  margin: 10px auto;
  cursor: auto;

  @media all and (max-width: 992px) {
    width: 570px;
  }

  @media all and (max-width: 600px) {
    width: 90vw;
  }


  @media all and (max-width: 490px) {
    width: 95vw;
  }

  .ant-tabs-nav-scroll {
    display: flex;
    justify-content: center;
  }

  /*@media all and (max-width: 400px) {
    width: 390px;
  }
  @media all and (max-width: 390px) {
    width: 320px;
  }
  @media all and (max-width: 390px) {
    width: 315px;
  }*/
}