

.fieldRoleContainer {
  //background-color: #a6afe6;
  position: relative;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -webkit-transform: translate3d(0, 0, 1px);
  //transform: translate3d(0, 0, 250px);
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;

  .fieldRoleWrap {
    position: relative;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translate3d(0, 0, 1px);
    transform: translate3d(0, 0, 1px);
    top: 0;
    left:0;
    width: 100%;
    height: 100%;


  }

    .fieldRolePlayer {
      position: absolute;
      padding-bottom: 23px;
      z-index: 100;
      left: 45%;
      bottom: 50%;
      margin: 16px;
      transform-style: preserve-3d;
      backface-visibility: hidden;
      width: 60px;
      height: 80px;
    }

}