

.fixtureContainer {
  display: flex;
  flex-flow: column nowrap;

  .fixtureStage {
    padding-bottom: 5px;
    width: 700px;

    margin: 10px auto;
    cursor: auto;

    @media all and (max-width: 992px) {
      width: 570px;
    }

    @media all and (max-width: 600px) {
      width: 90vw;
    }


    @media all and (max-width: 490px) {
      width: 95vw;
    }
  }
}
