@import "../../../../styles/partials/variables";

.seasonStat {
  display: inline-flex;
  font-size: small;

  span {
    margin-right: 8px;
  }

  .average {

  }

  .mainScore {

  }
  .prevScore {

  }
  .globalScore {

  }
}